<%# params[:user_id] %>
<%# session[:user_id] %>
<% if params[:user_id] = session[:user_id] %>
	<h3>Edit Credit Card Information:</h3>
	<% if @card.errors.full_messages.any? %>
		<ul>
			<% @card.errors.full_messages.each do |error_message| %>
			<li><%= error_message %></li> <br />
			<% end %>
		<ul>
	<% end %>
	<%= form_for(@card, url: user_card_path(@user, @card)) do |f| %>
		<%= f.label 'Select a credit card type:' %>
		<%= f.collection_select :card_type, Card::CARDTYPE, :to_s, :to_s, :include_blank => true %><br>
		<%= f.label :card_number %>
		<%= f.number_field :card_number %><br>
		<p>Please enter the cardholder name as it appears on the card.</p>
		<%= f.label 'First Name:' %>
		<%= f.text_field :fname %><br>
		<%= f.label 'Last Name' %>
		<%= f.text_field :lname %><br>
		<%= f.hidden_field(:user_id, value: @user.id) %>
		<%= f.submit 'Update' %>
	<% end %>
	<p> <%= link_to("Delete Card", user_card_path(@user, @card), method: :delete)%> </p>
<% else %>
	<p>You are not authorized to view this page! Return to your profile <%= link_to 'here', user_path(current_user) %></p>
<% end %>