<h1><%= @product.name %></h1>
<p>Price: <%= print_price(@product.price) %></p>

<%= form_tag addToCart_path, method: 'post' do %>
		<%= label_tag :quantity %>
		<%= number_field_tag :quantity %><br>
		<%= hidden_field_tag :product_id, @product.id %>
		<%= hidden_field_tag :user_id, @user.id %>
		<%= submit_tag "Add to Cart" %>
	<% end %>

